@import url("resource:///org/gtk/libgtk/theme/Adwaita/gtk-contained.css");
/*
Diese Thema ist für >Bildveraendern.sh< eine Erweiterung für Nemo
Pfad ~/.Themes/bildveraendern/gtk-3.0/gtk.css
Style: flächig Mintfarben */

window {
background-image: image(rgba(152,255,152,0.3));
}
entry {
background-image: image(rgba(152,255,152,0.3));
}
label {
color: black;
}
scale slider {     
    background-image: image(rgba(152,255,152,1.0));                   
    background-size: 10px;                                                          
    min-width: 20px;
    min-height: 20px;
    border-radius: 50%;  
   }
scale slider:focus {     
    background-image: image(rgba(152,200,152,1.0)); 
 
    background-size: 10px;                                                          
    min-width: 20px;
    min-height: 20px;
    border-radius: 50%;  
}
scale slider:hover {     
     background-image: image(rgba(152,200,152,1.0)); 
    background-size: 10px;                                                          
    min-width: 20px;
    min-height: 20px;
    border-radius: 50%;  
}
scale highlight {     
    background-image: image(rgba(152,255,152,1.0));                          
    background-size: 10px;                                                          
    min-width: 10px;
    min-height: 10px;
   }
scale value {
    color: black;
}
progressbar text{
color: black;
font-size: 14px;
}
progressbar progress {
/*min-height: 15px;*/
background-color: rgba(152,255,152,0.6); 

}
progressbar trough {
/*min-height: 15px;*/
}
expander arrow{
color:red
}
expander arrow:checked{
color: rgba(0,0,0,0);
}
